{% load static %}
<li>
                <article class="post">
                        <a href="">
                            <img src="{% static "blog/images/spark.jpg" %}" alt="spark image">
                            <div class="post__content">
                                <h3>Spark Basics</h3>
                                <p>Spark is cluster computing processing engine. It is almost 100x faster than Hadoop map-reduce engine.</p>
                            </div>
                        </a>
                </article>
</li>