{% extends 'base2.html' %}
{% load static %}
    {% block css_files %}
       <link rel="stylesheet" href="{% static "blog/blog.css" %}"> </link>
    {% endblock css_files %}
    {% block content %}
<main>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h3 class="display-6">{{ post.title }}</h3>
        <div>
            {% for tag in post_tags %}
                <span class="badge rounded-pill bg-primary">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <p class="lead my-3">{{ post.excerts }}</p>
        <p class="blog-post">Last updated on {{ post.date|date:"D d M Y" }} by <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></p>
        </div>
   </div>
    <div class="container">
          <img src="{{ post.image.url }}" alt="{{ post.title }}" width="250" height="250" preserveAspectRatio="xMidYMid slice">
    </div>
    
    <div class="container">
      <div class="card">
           <div class="card-body">
            <p>{{ post.content|linebreaks }}</p>
            </div>
      </div>
    </div>

</main>

<section class="container">
{% for comment in comments %}
<p></p>
<div class="card">
  <div class="card-header text-center text-primary">
  {{ comment.user_name }}'s Comments 
  </div>
  <div class="card-body">
    <p class="card-text">{{ comment.text|linebreaks }}</p>
  </div>
</div>
{% endfor %}
<br><br>  

</section>
<section class="container">
  <div class="card">
  <div class="card-header text-center text-primary"><h4>Post your comment</h4></div>
  <form action="{% url "post-detail" post.slug %}", method="POST"> 
   {% csrf_token %}
    {% for form_field in comment_form %}
    <div class="form-control {% if form_field.errors %}invalid{% endif %}">
    <p></p>
      {{ form_field.label_tag }}
      <br>
      {{ form_field }}
      {{ form_field.errors }}
    </div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">Save Comment</button>
    <br><br>
  </form>
</div>
</section>
<br><br>
  {% endblock content %}