{% extends 'base2.html' %}
{% load static %}
    {% block css_files %}
       <link rel="stylesheet" href="{% static "blog/blog.css" %}"> </link>
    {% endblock css_files %}
    {% block content %}
<main>
<div class="post__content">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark container">
        <div class="col-md-6 px-0">
        <h3 class="display-4 fst">{{ post.title }}</h3>
        <p class="lead my-3">{{ post.excerts }}</p>
        <p class="blog-post">{{ post.date|date:"D d M Y" }} by <a href="#">{{ post.author }}</a></p>
        </div>
   </div>

    <div class="container">
      <article class="blog-post">
      <img src="{% static 'blog/images/'|add:post.image_name %}" alt="{{ post.title }}">
        <p>{{ post.content|linebreaks }}</p>
      </article>
    </div>
  </div>
</main>
    {% endblock content %}