{% extends 'base2.html' %}

{% block content %}
{% load static %}

  
  <div class="container">
  <hr class="featurette-divider">
  <div class="card text-center border-success" >
    <div class="card-header bg-success text-white"><h4>User logout confirmation</h4></div>
    <div class="card-body">
        <p><h6>You are logged out successfully!</h6></p>
    </div>
    <div class="card-footer bg-light text-white text-muted">Powered by Django</div>
  </div>
  <hr class="featurette-divider">
</div>

{% endblock %}