{% extends 'base2.html' %}
{% load static %}
    {% block css_files %}
       <link rel="stylesheet" href="{% static "blog/blog.css" %}"> </link>
    {% endblock css_files %}
    {% block content %}
<main class="container">
{% if user.is_authenticated %}
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h4 class="display-6 fst">Welcome {{ user.username }}</h4>
      <p class="lead my-3">All your authored posts will be listed on this page</p>
      <p>
      <a class="btn btn-outline-success" href="{% url 'blog:new_blog_post' %}">Post New Blog</a>
      </p>
    </div>
  </div>

<div class="row-cols-md">
<div class="row no-gutters">
    {% for post in all_posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
</div>
</div>
{% endif %}
</main>
    {% endblock content %}