#latest-posts {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: 60rem;
    margin: -6rem auto 2rem auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  }
  
  #latest-posts h2 {
    text-align: center;
  }
  
  #latest-posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  #latest-posts li {
    flex: 1;
  }

  .error_list {
      list-style: none;
      margin: 0.5rem 0;
      padding: 0;
      color: rgb(141, 7, 7);
  }

  .invalid label {
      color: rgb(141, 7, 7);
  }

  .invalid input,
  .invalid textarea {
    border-color: rgb(141, 7, 7);
    background-color: rgb(252, 133, 198);
}
